:root {
  font-family: 'DM Sans', sans-serif;
}

body {
  padding: 0 5%;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

header {
  margin-top: 40px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fafafa;
  padding: 50px;
  margin-top: 40px;
}

.banner > div {
  width: 80%;
}

.banner > div .top_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner > div .top_content h1 {
  color: #D3573C;
  font-size: 64px;
  margin: 0;
  margin-right: 15%;
}

.banner > div .top_content button {
  font-size: 20px;
}

.banner > div .top_content button:hover, .banner > div .top_content button:focus {
  background-color: #DB8876;
  color: black;
}

.banner > div .location {
  color: #901C1C;
  font-size: 24px;
}

.banner > div .tagline {
  font-size: 18px;
  color: #525252;
  margin: 19px 0;
}

.banner > div .tag {
  color: #901C1C;
  border: 0.5px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  padding: 1px 8px;
  margin-right: 5px;
}

.banner > div .tag:hover, .banner > div .tag:focus {
  background-color: #901C1C;
  color: white;
  border-color: #901C1C;
}

.banner img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

label {
  font-size: 18px;
  font-weight: bold;
}

button,
select,
option {
  font-family: inherit;
  width: 170px;
  height: 69px;
  background-color: #901C1C;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}

#select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

#select-container p {
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

.select_wrapper {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 170px;
  height: 69px;
  border: none;
  border-radius: 5px;
  background-color: #901C1C;
  color: white;
}

.select_wrapper .select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  border-radius: 5px;
  background-color: #901C1C;
  color: white;
}

.select_wrapper .select_trigger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 22px;
  font-size: 18px;
  height: 69px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.select_wrapper .select_trigger .arrow {
  position: relative;
  height: 15px;
  width: 15px;
}

.select_wrapper .options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: none;
  background: #901C1C;
  border-radius: 5px;
  visibility: hidden;
  z-index: 1;
}

.select_wrapper .select.open .options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.select_wrapper .option {
  position: relative;
  display: block;
  padding: 0 22px;
  font-size: 18px;
  color: white;
  line-height: 60px;
  cursor: pointer;
  border-radius: 5px;
}

.select_wrapper .option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}

.select_wrapper .option.selected {
  color: black;
  background-color: #D3573C;
}

.select_wrapper .open .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cards_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 6%;
  grid-row-gap: 3%;
  margin-top: 30px;
}

.cards_container img,
.cards_container video {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.cards_container .card_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #901C1C;
  font-size: 24px;
}

.cards_container .card_text p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.cards_container .card_text .price_likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}

.cards_container .card_text .likes {
  margin-left: 15px;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(196, 196, 196, 0.4);
  border: none;
  padding: 0;
}

.modal div {
  width: 46%;
  margin: 3% auto;
  background-color: #db8876;
  border-radius: 5px;
  padding: 2%;
  position: relative;
}

.modal div h1 {
  font-size: 64px;
  margin: 0;
  font-weight: normal;
}

.modal div .close {
  position: absolute;
  top: 35px;
  right: 35px;
  font-size: 64px;
  color: white;
}

.modal div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal div form * {
  font-size: 36px;
  font-weight: normal;
  color: #312e2e;
}

.modal div form input {
  height: 68px;
}

.modal div form input,
.modal div form textarea {
  border: none;
  border-radius: 5px;
}

.modal div form button {
  font-size: 18px;
  color: white;
  margin-top: 25px;
}

.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(196, 196, 196, 0.6);
  border: none;
}

.lightbox .close,
.lightbox .next,
.lightbox .prev {
  font-size: 70px;
  color: #901C1C;
  position: absolute;
}

.lightbox .lightbox_content {
  margin: auto;
  position: relative;
}

.lightbox .lightbox_content .lightboxCard {
  display: none;
}

.lightbox .lightbox_content .lightboxCard img,
.lightbox .lightbox_content .lightboxCard video {
  height: 900px;
  width: 1000px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.lightbox .lightbox_content .lightboxCard .img_title {
  color: #901C1C;
  font-size: 24px;
}

.lightbox .lightbox_content .next {
  top: 48%;
  right: -8%;
}

.lightbox .lightbox_content .prev {
  top: 48%;
  left: -8%;
}

.lightbox .lightbox_content .close {
  top: 2%;
  right: -8%;
}

.bottom_div {
  position: fixed;
  bottom: 0;
  right: 35px;
  width: 375px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DB8876;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 2%;
  font-weight: 500;
}

@media (max-width: 350px) {
  .lightbox .lightbox_content .lightboxCard img,
  .lightbox .lightbox_content .lightboxCard video {
    height: 200px;
    width: 240px;
  }
}

@media (max-width: 961px) {
  body {
    padding: 0 20px;
  }
  #logo {
    width: 150px;
  }
  .banner {
    background-color: initial;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 45px;
  }
  .banner > div .top_content h1 {
    font-size: 36px;
    margin: 0;
  }
  .banner > div .top_content button {
    height: 35px;
    font-size: 18px;
    white-space: nowrap;
    position: fixed;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .banner > div .tagline {
    margin: 4px 0;
    font-size: 13px;
  }
  .banner > div .tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .banner > div .tag,
  .banner > div .location {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .banner img {
    width: 100px;
    height: 100px;
  }
  .select_wrapper,
  #select_wrapper_label {
    display: none;
  }
  .cards_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards_container img,
  .cards_container video {
    width: 100%;
    height: 190px;
  }
  .cards_container .card_text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .modal div {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  .modal div h1 {
    font-size: 36px;
  }
  .modal div #modal_name {
    margin-bottom: 12px;
  }
  .modal div .close {
    font-size: 32px;
    top: 25px;
    right: 25px;
  }
  .modal div form * {
    font-size: 24px;
  }
  .modal div form label {
    margin-top: 14px;
    margin-bottom: 6px;
  }
  .modal div form input {
    height: 52px;
  }
  .modal div form textarea {
    height: 185px;
    margin-bottom: 25px;
  }
  .modal div form button {
    margin: 0 auto;
    height: 35px;
  }
  .lightbox {
    background-color: white;
  }
  .lightbox .lightbox_content .lightboxCard img,
  .lightbox .lightbox_content .lightboxCard video {
    height: 250px;
    width: 290px;
  }
  .lightbox .close,
  .lightbox .next,
  .lightbox .prev {
    font-size: 20px;
  }
  .bottom_div {
    display: none;
  }
}
/*# sourceMappingURL=photographers.css.map */